<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATC simulation</title>
    <style>
        .button {
            display: inline-block;
            padding: 10px 20px;
            background-color: #4CAF50;
            color: white;
            text-align: center;
            text-decoration: none;
            font-size: 16px;
            border-radius: 4px;
            border: none;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>Welcome to the ATC simulation index page.</h1>
    <form action="/start-server" method="get">
        <a href="{{url_for('start_server')}}"><button class="button" type="submit">Start Server</button></a>
    </form>
</body>
</html>